#results.container
  = haml :searchbox, :layout => false, :locals => {:q => "#{q}"}
  #stats= "Found #{total} results in #{time} seconds"
  #links
    - links.each do |l|
      = haml :link, :layout => false, :locals => {:link => l}
  #paginate
    - paginate(total, per_page) do |p|
      - if p == page
        %span= p
      - else
        %span
          %a{href: "/search?q=#{q}&p=#{p}"}= p
    
